<%= live_component @socket, CmsWeb.ArticleLive.FormComponent,
    id: @article.id || :new,
    title: @page_title,
    action: @live_action,
    article: @article,
    return_to: if @article.id, do: Routes.article_show_path(@socket, :show, @article), else: Routes.article_index_path(@socket, :index) %>
